<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' class="navbar-brand"}}
              <img src="assets/images/ember.png" class="img-responsive logo" alt="">
              Ember.js
            {{/link-to}}
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li>
                  {{#link-to 'index'}}
                    Home
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to 'cards'}}
                    Cards
                  {{/link-to}}
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              {{#if profile.authenticated}}
                <li class="loging">
                  <a onclick={{action (action 'exitProfile')}}>
                    Welcome <em>{{profile.name}}</em>!
                    Exit &raquo;
                  </a>
                </li>
              {{else}}
                <li>
                  {{#link-to 'create-user'}}
                    Create user
                  {{/link-to}}
                </li>
              {{/if}}
            </ul>
        </div>
    </div>
</div>

{{outlet}}

<div class="container">
		<footer>
				<p>JavaScript Guatemala Meetup - @jorgelainfiesta</p>
		</footer>
</div>
