<div class="container">
		<div class="row">
				<div class="col-md-8 col-md-offset-2">
						<div class="well">
								<form class="form-horizontal">
										<fieldset>
												<legend>Create game profile</legend>
												<div class="form-group">
														<label for="userName" class="col-md-2 control-label">User Name</label>

														<div class="col-md-10">
																<input type="text" class="form-control" id="userName" placeholder="Enter user name">
														</div>
												</div>
												<button class="btn btn-primary">Save &amp; play</button>
										</fieldset>
								</form>
						</div>
				</div>
		</div>
</div>
